---
import '../styles/global.scss';
---

<footer>
	<p>© 2025 EllieBotDevs</p>
	<div class="footer_links">
		<a href="https://discord.gg/etQdZxSyEH">Discord</a>
		<a href="https://toastielab.dev/EllieBotDevs/ellie-patchnotes">Toastielab</a
		>
	</div>
</footer>
